{#

This file is part of the FabienCrassat\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% for item in anchors %}
<li class="{% if loop.index == 1 %}active{% endif %}">
    <a href="#{{ item.href }}">{{ item.title }}</a>
</li>
{% endfor %}
