{#

This file is part of the FabienCrassat\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% trans_default_domain 'FabienCrassatCurriculumVitaeBundle' %}

{# Top button #}
<a href="#" title="{{ 'fabiencrassat_curriculumvitae.back_to_top_button'|trans }}" class="btn btn-default btn-sm hidden-print" style="position: fixed; bottom: 0; right: 0;">
    <span class="glyphicon glyphicon-arrow-up"></span>
</a>
