{#

This file is part of the FabienCrassat\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{# FabienCrassat/CurriculumVitaeBundle/Resources/views/CurriculumVitae/index.pdf.twig #}

{% extends "::base.html.twig" %}

{% trans_default_domain 'FabienCrassatCurriculumVitaeBundle' %}

{% block title %}CV {{ cvxmlfile|title }}{% endblock %}

{% block body %}

<div id="CurriculumVitae">
    {% include 'FabienCrassatCurriculumVitaeBundle:CurriculumVitae:Includes/BusinessCard.html.twig' with {'template': 'pdf'} %}
    {% include 'FabienCrassatCurriculumVitaeBundle:CurriculumVitae:Includes/Identity.html.twig' with {'template': 'pdf'} %}
    {% include 'FabienCrassatCurriculumVitaeBundle:CurriculumVitae:Includes/Experiences.html.twig' with {'template': 'pdf'} %}
    {% include 'FabienCrassatCurriculumVitaeBundle:CurriculumVitae:Includes/Skills.html.twig' with {'template': 'pdf'} %}
    {% include 'FabienCrassatCurriculumVitaeBundle:CurriculumVitae:Includes/Educations.html.twig' with {'template': 'pdf'} %}
    {% include 'FabienCrassatCurriculumVitaeBundle:CurriculumVitae:Includes/LanguageSkills.html.twig' with {'template': 'pdf'} %}
    {% include 'FabienCrassatCurriculumVitaeBundle:CurriculumVitae:Includes/Miscellaneous.html.twig' with {'template': 'pdf'} %}
</div>

{% endblock %}