{#

This file is part of the Nimbusletruand\CurriculumVitaeBundle Symfony bundle.

(c) Fabien Crassat <fabien@crassat.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{# Nimbusletruand/CurriculumVitaeBundle/Resources/views/Default/index.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}CV {{ cvxmlfile|title }}{% endblock %}

{% block body %}

<div>
    <a href="#">Curriculum Vitae</a>
    {% include 'NimbusletruandCurriculumVitaeBundle:CurriculumVitae:Nav/LanguagesList.html.twig' %}
    <div><ul>
        {% include 'NimbusletruandCurriculumVitaeBundle:CurriculumVitae:Nav/Anchors.html.twig' %}
    </ul></div>
</div>

<div id="CurriculumVitae">
    {% include 'NimbusletruandCurriculumVitaeBundle:CurriculumVitae:Includes/BusinessCard.html.twig' %}
    {% include 'NimbusletruandCurriculumVitaeBundle:CurriculumVitae:Includes/Identity.html.twig' %}
    {% include 'NimbusletruandCurriculumVitaeBundle:CurriculumVitae:Includes/FollowMe.html.twig' %}
    {% include 'NimbusletruandCurriculumVitaeBundle:CurriculumVitae:Includes/Experiences.html.twig' %}
    {% include 'NimbusletruandCurriculumVitaeBundle:CurriculumVitae:Includes/Skills.html.twig' %}
    {% include 'NimbusletruandCurriculumVitaeBundle:CurriculumVitae:Includes/Educations.html.twig' %}
    {% include 'NimbusletruandCurriculumVitaeBundle:CurriculumVitae:Includes/LanguageSkills.html.twig' %}
    {% include 'NimbusletruandCurriculumVitaeBundle:CurriculumVitae:Includes/Miscellaneous.html.twig' %}
</div>

{% endblock %}