body {
    padding-top:70px;
    background-color:#EEE
}
@media (min-width: 797px) and (max-width: 959px) { /* les tailles dependent de la langue */
body {
    padding-top: 110px;
}
}
@media (min-width: 768px) and (max-width: 796px) {
body {
    padding-top: 160px;
}
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
.img-circle {
    border-radius: 6px;
}
.panel-heading {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
}
.linkimage:hover {
    text-decoration: none;
}
dl.timeline {
    border-left: 2px solid #CCCCCC;
}
dl.timeline dt {
    margin-bottom: 5px;
}
dl.timeline .indent {
    display: inline-block;
    border-top: 2px solid #CCCCCC;
    width: 20px;
    height: 4px;
    margin-right: -4px;
}
dl.timeline > dd {
    margin-bottom: 10px;
    margin-left: 10px;
}
#languageSkills .col-md-5 {
    padding-bottom: 20px;
}
@media print {
    .followMeImage {
        display: block;
    }
    /* Progress Bar for Print */
    .progress {
    border: 2px solid #F5F5F5;
    }
    .progress-bar-info {
        border: 2px solid #428BCA;
        display: block;
    }
    .progress-bar-success {
        border: 2px solid #5CB85C;
        display: block;
    }
    .progress-bar-warning {
        border: 2px solid #F0AD4E;
        display: block;
    }
    .progress-bar-danger {
        border: 2px solid #D9534F;
        display: block;
    }
    .progress, .progress > .progress-bar {
        box-shadow: 0 0 inset;
        display: block;
    }
    .collapse {
        display: inherit;
    }
}
